#base-configuration {
  display: flex;
  flex-direction: row;
  column-gap: 32px;
  align-items: self-end; // makes lines space properly when helper text. otherwise mismatch
  > .left {
    flex-basis: 39%;
    flex-direction: column;
    flex-grow: 1;
  }
  > .center {
    flex-basis: 39%;
    flex-direction: column;
    flex-grow: 1;
  }
  > .right {
    flex-basis: 55%;
    flex-direction: column;
    flex-grow: 1;
    > .base-configuration-container {
      display: flex;
      flex-direction: column;
      > label {
        font-family: Rubik, sans-serif;
      }
    }
  }
}
