#qi-core-test-case-builder {
  .horizontal-nav-tabs {
    border-bottom: 1px solid #8c8c8c;
  }

  .panel-content-pane {
    max-height: calc(100% - 48px);
    overflow: scroll;
    padding-top: 24px;
  }
}
