.shift-dates-grid {
  display: grid;
  grid-gap: 25px;
}

#shift-dates-info {
  font-weight: 400;
  font-family: Rubik, sans-serif;
  color: rgba(51, 51, 51, 0.82);
}

.shift-dates-number-input {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
