/* Base typography for reuse */
.typography-base {
  font-family: "Rubik", sans-serif;
  color: #242424;
}

/* Bold variant for headers */
.typography-bold {
  @extend .typography-base;
  font-weight: 500;
}

/* Light variant for secondary text */
.typography-light {
  @extend .typography-base;
  font-weight: 400;
  color: #707070;
}

/* Panels container */
.comparison-panels-container {
  display: flex;

  .comparison-panel {
    flex: 1;
    display: flex;
    flex-direction: column;

    &:first-child {
      border-right: 1px solid #8c8c8c;
    }

    .cql-container {
      padding: 16px 24px;
    }
  }
}

/* Info boxes */
.info-section {
  background: #f3f3f3;
  padding: 16px 24px;
  outline: 1px solid #8c8c8c;

  .measure-header {
    @extend .typography-bold;
    font-size: 18px;
    line-height: 24px;
    margin: 0;

    .measure-cmsid {
      @extend .typography-light;
    }
  }

  .measure-name-text {
    @extend .typography-bold;
    font-size: 14px;
    line-height: 24px;
  }
}

/* Version row */
.measure-version-row {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .version-chip-row {
    display: flex;
    align-items: center;
    gap: 8px;

    .version-text {
      @extend .typography-bold;
      font-size: 16px;
      line-height: 24px;
    }

    .draft-chip {
      height: 24px;
      min-width: 55px;
      border-radius: 16px;
      background-color: #cbe4ff;
      font-size: 14.4px;
      line-height: 20px;
      text-align: center;
      padding: 0 8px;
    }
  }

  .last-updated {
    @extend .typography-light;
    font-size: 14px;
    line-height: 24px;
  }
}
