.hrdv-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 2rem;
}

.hrdv-table thead tr {
  background: #f5f5f5;
  border-bottom: 1px solid #ccc;
}

.hrdv-table th,
.hrdv-table td {
  padding: 8px;
  text-align: left;
  border-left: none;
  border-right: none;
  font-size: 14px;
  font-family: Rubik, sans-serif;
}

.hrdv-table tbody tr {
  border-bottom: 1px solid #eee;
}

.draft-chip {
  min-width: 75px;
  padding-left: 12px;
  border-radius: 6px;
  background-color: #cbe4ff !important;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
}
