.bottom-row {
  height: 112px;
  z-index: 35; //one above allotment?
  background: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  box-shadow: 0px 0px 2px 1px rgba(241, 242, 244, 0.25);
  border-top: solid 1px #8c8c8c;
  padding-right: 48px;
  > .spacer {
    display: flex;
    flex-grow: 1;
  }
}
