#add-user-id-search {
  margin: 0 32px 40px 32px;
  display: flex;
  flex-direction: row;
  column-gap: 24px;

  > div {
    flex-basis: 1;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    max-width: 412px;
  }
}

#add-user-btn {
  margin-top: 40px;
}
