#measures-add-user-id-search {
  margin: 0 32px 40px 32px;
}

.measures-harp-id-input-row {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  column-gap: 16px;
}

.measures-harp-id-text-field {
  flex: 1;
  max-width: 500px;
}

.measures-harp-id-chips-inline {
  display: contents;
}

#measures-add-user-btn {
  flex-shrink: 0;
  white-space: nowrap;
  margin-bottom: 22px;
}

.confirmation-dialog-content {
  margin-top: 3px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #222222;

  > .measure-name {
    font-weight: 600;
  }

  > ul {
    list-style: inside;
    margin-left: 20px;
  }
}
