.edit-measure-side-nav {
  .link-container,
  nav {
    display: flex;
    flex-direction: column;
    .MuiButtonBase-root {
      text-align: left;
      align-items: flex-start;
      line-height: normal !important;
      min-height: 48px;
      height: fit-content;
    }

    > .link-heading {
      margin-bottom: 0;
      margin-left: 13px;
      font-family: "Rubik";
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 24px;
      color: #242424;
    }

    > .nav-link {
      text-decoration: none;
      display: flex;
      color: #333;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      padding: 5px 0 5px 16px;

      &.active {
        font-weight: 500;
        background-color: #fff;
        padding-left: 10px;
        border-left: solid 6px #209fa6;
      }
    }
  }

  .collapsable-button {
    padding: 14.5px 24.5px;
    text-align: left;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    color: #515151;
    font-family: "Rubik";
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    &.active {
      font-weight: 500;
      background-color: #fff;
      padding-left: 10px;
      border-left: solid 6px #209fa6;
    }
  }

  .indented-tabs {
    .MuiButtonBase-root {
      padding-left: 40px;
    }
    > .link-wrapper {
      padding: 14.5px 28px;
    }
  }
}
