#reporting {
  display: flex;
  flex-direction: row;
  column-gap: 32px;
  > .left {
    flex-basis: 50%;
    flex-direction: column;
    flex-grow: 1;
  }
  > .right {
    flex-basis: 50%;
    flex-direction: column;
    flex-grow: 1;
  }
}
