// force an override on all text areas and inputs.
textarea,
input {
  color: #333 !important;
  &::placeholder {
    color: #717171 !important;
  }
}

#populations-content {
  .second {
    margin-left: 16px;
    .population-column {
      column-gap: 12px;
    }
  }

  .first {
    .population-column {
      column-gap: 30px;
    }
  }

  .first,
  .second {
    margin-top: 24px;
    .add-population-button {
      margin-top: 24px;
      .remove,
      .add {
        text-decoration: none;
      }
      .remove {
        color: #d92f2f;
      }
      .add {
        color: #0073c8;
      }
    }
  }
}

.population-column {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  margin-top: 8px;
  > div:first-of-type {
    width: 300px;
    min-width: 300px;
  }
}
