.outer-wrapper * {
  overflow: visible !important;
}

.outer-wrapper {
  display: flex;
  background-color: #ededed;
  overflow-y: auto;
  overflow-x: hidden;
}

.vertical-side-nav {
  border-right: solid 1px #8c8c8c;
  padding-bottom: 16px;
  padding-top: 16px;
  overflow-x: hidden;
  .link-container,
  nav {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    .MuiButtonBase-root {
      text-align: left;
      align-items: flex-start;
      line-height: normal !important;
      min-height: 48px;
      height: fit-content;
    }

    > .link-heading {
      font-size: 16px;
      font-weight: 400;
      font-family: "Rubik";
      background-color: transparent;
      padding-left: 16px;
    }
  }

  .collapsable-button {
    padding: 14.5px 24.5px;
    text-align: left;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    color: #515151;
    font-family: "Rubik";
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    &.active {
      font-weight: 500;
      background-color: #fff;
      padding-left: 10px;
      border-left: solid 6px #209fa6;
    }
  }

  .indented-tabs {
    .MuiButtonBase-root {
      padding-left: 40px;
    }
    > .link-wrapper {
      padding: 14.5px 28px;
    }
  }
}
