.quantity-component {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .quantity-fields {
    margin-top: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 12px;

    .comparator-input {
      margin-right: 16px;
    }

    .comparator-input .codes-select-container {
      width: 180px;
    }

    .element-add-container {
      margin-left: 16px;
      margin-top: 16px;
    }
  }
}
