#test-case-nav-container {
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  padding-left: 2rem;
  padding-right: 2rem;

  > .MuiTabs-scroller {
    overflow-x: auto !important;
  }
}

#test-case-series-container {
  margin-top: 12px;

  .MuiAutocomplete-root {
    margin-top: 8px;
  }
}
