#edit-measure-nav-a {
  .MuiTabs-flexContainer {
    > .MuiTab-root:focus,
    > .MuiTab-root.Mui-focusVisible {
      background: #036 !important;
      color: #fff !important;
      outline: none !important;
      box-shadow: none !important;
    }

    > .MuiTab-root.Mui-selected {
      background: #fff !important;
      color: #036 !important;
    }
    a:focus {
      text-decoration: none !important;
      background: #fafafa;
      outline: #fafafa;
      color: #000000 !important;
    }
    a:hover {
      text-decoration: none !important;
      color: #fff !important;
      background: #001f3d;
    }
  }
}

.review-comments-link {
  position: absolute;
  top: 11px;
  right: 2rem;
  display: inline-flex;
  align-items: center;
}

body:has(.minimized-alert) .review-comments-link {
  right: 11rem;
  padding-right: 0.8rem;
  border-right: #ffffffd1 solid 1px;
}
