#edit-measure-nav-a {
  .MuiTabs-flexContainer {
    a:focus {
      text-decoration: none !important;
      background: #fafafa;
      outline: #fafafa;
      color: #000000 !important;
    }
    a:hover {
      text-decoration: none !important;
      color: #fff !important;
      background: #001f3d;
    }
  }
}
