.duration-tab-container {
  display: grid;
  gap: 12px;
}

.duration-tab-instructions {
  color: #515151;
  font-weight: 400;
  font-size: 16px;
  font-family: Rubik, sans-serif;
  padding-top: 17px;
  padding-bottom: 10px;
}

.duration-tab-row {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  column-gap: 32px;

  textarea {
    background: none;
  }

  button {
    font-size: 16px;
    color: #0073c8;
    padding: 0;
    border: 0;
    background-color: unset;
    font-weight: normal;

    &:hover,
    &:focus,
    &:active {
      font-size: 16px;
      color: #0073c8;
      padding: 0;
      border: 0;
      background-color: unset;
      font-weight: normal;
    }
  }
}

.precision-select {
  width: 160px;
}

.duration-tab-results-container {
  background: #f3f3f3;
  padding: 16px;
  border-radius: 4px;
}

.end-date-inclusive-label {
  color: #515151;
  font-weight: 400;
  font-size: 16px;
  font-family: Rubik, sans-serif;
  padding-bottom: 17px;
  text-transform: none;
}

.computed-date-precision-select {
  width: 190px;
}

.add-subtract-option {
  > div {
    > div {
      > label {
        text-transform: none;
        font-family: Rubik, sans-serif;
        color: #333;
        padding-top: 3px;
        margin-bottom: 25px;
      }
    }
  }
}
