$header-size: 14px;
$header-style: normal;
$header-weight: 500;

.table-scroll-container {
  overflow-x: auto;
  width: 100%;
  max-width: 100%;
  position: relative;
  scroll-behavior: smooth;
  padding-top: 4px;
  padding-bottom: 4px;

  // Force horizontal scroll bar to be visible
  &::-webkit-scrollbar {
    height: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #aaa;
    border-radius: 8px;
  }
}

.data-elements-table {
  width: 100%;
  font-family: Rubik, sans-serif;
  margin-top: 32px;
  text-align: left;

  .resizer {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 5px;
    background: rgba(0, 0, 0, 0.5);
    cursor: col-resize;
    user-select: none;
    touch-action: none;
  }

  .resizer.isResizing {
    background: blue;
    opacity: 1;
  }

  @media (hover: hover) {
    .resizer {
      opacity: 0;
    }

    *:hover > .resizer {
      opacity: 1;
    }
  }

  // makes the first and last column sticky
  > thead > tr > th:first-child,
  > tbody > tr > td:first-child {
    position: sticky !important;
    left: 0;
    z-index: 5;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2) !important; // Todo Make drop shadow visible
    min-width: 150px;
  }

  > thead > tr > th:last-child,
  > tbody > tr > td:last-child {
    position: sticky !important;
    right: 0;
    z-index: 5;
    min-width: 100px;
  }

  > thead {
    border-bottom: solid 1px #8c8c8c;

    > tr > th {
      font-size: $header-size;
      font-style: $header-style;
      font-weight: $header-weight;
      padding: 16px;
      text-align: left;
      background-color: #ededed;
      min-width: 360px;
    }
  }

  > tbody {
    > tr > td {
      padding: 16px;
      border-bottom: 1px solid #8c8c8c;
      background-color: #ffffff;
      min-width: 360px;

      // Styling for the draggable icons on 1st column
      //> .first-column-with-icons {
      //  display: flex;
      //  > .icons {
      //    display: flex;
      //    flex-direction: column;
      //    align-items: center;
      //  }
      //  > .cell-body {
      //    color: #125496;
      //    display: flex;
      //    align-items: center;
      //    padding-left: 16px;
      //  }
      //}

      > .timing-cell-container {
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        > .timing-row {
          font-size: 16px;
          display: inherit;
          flex-direction: row;
          justify-content: flex-start;
          text-align: left;

          > .abbrev {
            font-weight: 500;
          }
        }
      }

      > .data-type-container {
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        > .element-type,
        .codes-row {
          font-size: $header-size;
        }

        > div {
          display: flex;
          flex-direction: row;
          flex-grow: 1;

          &.header {
            font-size: $header-size;
            font-style: $header-style;
            font-weight: $header-weight;

            > span:nth-of-type(2) {
              margin-left: 5px;
              color: #125496;
            }
          }
        }
      }
      // all columns aside from first column
      > .data-type-list {
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        > div {
          display: flex;
          flex-direction: row;
          flex-grow: 1;
        }
      }

      .view-with-dropdown-button {
        color: #242424;
        border: 1px solid #8c8c8c;
        border-radius: 4px;
        background: #fff;
        font-family: Rubik;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        max-height: 40px;
        max-width: 110px;
        display: flex;
        align-items: center;

        > div {
          border-right: solid 1px #8c8c8c;
          padding: 8px 20px 8px 4px;
          flex-direction: row;
          flex-grow: 1;
          height: 100%;
        }

        > svg {
          margin: 0 8px;
        }
      }
    }
  }
}
