#measure-details-form {
  font-family: Rubik, sans-serif;
  grid-column: span 5 / span 14;
  display: flex;
  flex-direction: column;
  padding: 32px 32px 32px calc(32px - 1rem);
  > .content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
    .subTitle {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;
      padding-bottom: 8px;
      margin-bottom: 33px;
      border-bottom: solid 1px #ddd;
      position: relative;
      h2 {
        border: none;
        margin: 0;
        padding: 0;
      }
    }
    h3 {
      font-weight: 400;
      font-size: 32px;
      line-height: 48px;
      display: flex;
      flex-direction: row;
      padding-bottom: 8px;
      border-bottom: solid 1px #ddd;
    }
    textArea {
      box-sizing: border-box;
      width: 800px;
      border-radius: 3px;
      border: solid 1px #ddd;
      background-color: #fff;
      opacity: 1;
      height: 100%;
      font-size: 14px;
      font-weight: 400;
      resize: both;
      color: #333;
      &::placeholder {
        color: #717171;
        opacity: 1;
      }
    }
    label:not(.Mui-disabled) {
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      color: #333333;
      text-transform: none;
      margin-bottom: 7px;
    }
  }
  .form-actions {
    display: flex;
    flex-direction: row;
    min-width: 100%;
    justify-content: flex-end;
    > .cancel-button {
      margin-top: 1rem;
      margin-right: 32px;
    }
  }
}
