#measure-supplemental-data-wrapper {
  display: flex;
  flex-direction: row;
  column-gap: 24px;
  > .left {
    flex-basis: 33%;
    flex-direction: column;
    flex-grow: 1;
  }
  > .right {
    flex-basis: 66%;
    flex-direction: column;
    flex-grow: 1;
  }
}
