#qi-core-6-tc-builder {
  > #measure-landing > .measure-table {
    margin: 0;
  }

  > #search-container {
    margin: 24px 0;
    // max-width: 400px;
    &.flex-row-gap {
      display: flex;
      flex-direction: row;
      flex-grow: 1;
      justify-content: space-between;
      align-items: flex-end;
      column-gap: 25px;
      > div {
        max-width: 400px;
      }
      > button {
        width: 250ox;
        margin: 0;
      }
    }
  }

  #tc-builder-pagination-container {
    > div {
      padding: 0;
      border: none;
      display: flex;
      flex-direction: row-reverse;
    }
  }

  .ml-table {
    th.hl7-column,
    td.hl7-column,
    th.action-column,
    td.action-column {
      text-align: center;
      vertical-align: middle;
    }

    th.hl7-column,
    td.hl7-column {
      width: 90px;
      min-width: 90px;
      max-width: 90px;
    }

    td.hl7-column,
    td.action-column {
      .MuiIconButton-root {
        margin: 0 auto;
      }
    }
  }
}
