#element-editor {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 24px 24px;
  border-top: 1px solid gray;

  .test-case-tab-heading {
    margin-top: 24px;
  }

  .element-editor-submission {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 35px;

    > button {
      margin-left: 24px;
    }
  }

  .element-editor-add-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    width: 100%;

    &.double-row {
      margin-bottom: 24px;
    }

    &.reference > {
      div:first-child {
        max-width: 215px;
      }
    }

    > .element-add-container {
      display: flex;
      flex: 1;
      justify-content: flex-start;
      margin-top: 24px;

      > button {
        flex: 1;
        justify-content: flex-start;
      }
    }
  }
}

#madie-tcbuilder-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: initial;

  > span {
    margin-top: 110px;
  }
}
