#element-editor {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 24px 24px;
  border-top: 1px solid gray;

  .test-case-tab-heading {
    margin-top: 24px;
  }

  .element-editor-submission {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    > button {
      margin-left: 24px;
    }
  }

  .element-editor-add-row {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;

    > div:first-child {
      flex: 3;
    }

    > .element-add-container {
      display: flex;
      flex: 1;
      justify-content: flex-start;
      margin-top: 24px;

      > button {
        flex: 1;
        justify-content: flex-start;
      }
    }
  }
}
