$blue-60: #0073c8;
$blue-70: #125496;
$grey-19: #ddd;

.test-case-tab-headinq-qi-core {
  display: flex;
  flex-direction: column;

  > .heading-row {
    display: flex;
    border-bottom: solid 1px #8c8c8c;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }

  > .growing-div-qi-core {
    .elements-header-content {
      margin-left: 56px;
      &.x-display {
        position: relative;
      }
    }

    > .info-row {
      margin-top: 6px;
      margin-bottom: 6px;

      > .header {
        color: $blue-70;
        line-height: normal;
        margin-left: 16px;
        margin-bottom: 0px;
      }

      button > .chevron-display {
        color: #676767;
        transition: all 0.2s ease;

        &.open {
          transform: rotate(90deg);
        }
      }
    }

    flex-direction: column;

    &.open {
      margin-bottom: 12px;
    }
  }
}

.choice-type-edit-option {
  padding-top: 24px;
  margin-left: 0;
  position: relative;
  padding-left: 56px;
  &::before {
    content: "";
    position: absolute;
    width: 38px;
    height: calc(100% - 28px);
    left: 10px;
    top: 8px;
    border-bottom: dashed 2px #8c8c8c;
    border-left: dashed 2px #8c8c8c;
    z-index: 1;
  }
}
