#element-editor {
  .test-case-tab-heading {
    margin-top: 24px;
  }

  .element-editor-submission {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    > button {
      margin-left: 24px;
    }
  }
}
